@inherits Umbraco.Web.Macros.PartialViewMacroPage
@using Umbraco.Web

@{ var selection = @Model.Content.Site()
         .FirstChild("articleOverview")
         .Children("articleItem")
         .OrderByDescending(x => x.CreateDate)
         .Where(x => x.IsVisible())
         .Take(3);
}

@foreach (var item in selection)
{
    <div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">
                    <div class="articletitle">
                        <a href="@item.Url">@item.Name</a>
                    </div>
                </h5>

                <div class="font-italic font-weight-light" style="color: darkslategray; font-size: 20px;">

                </div>
                <div class="articlepreview">@Umbraco.Field("articleContent") <a href="@item.Url">Read More..</a></div>
                <p>

                    <div class="font-italic font-weight-light" style="color: darkslategray; font-size: 20px;"><a href="@item.Url" class="page-link">Read More..</a></div>
            </div>
        </div>
    </div>
}